<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitebatch">
  <test thread-count="5" name="Test">
    <classes>
      <class name="organization.CreateContactsWithOrg"/>
      <class name="organization.CreateContactWithSupportDate"/>
      <class name="organization.createContactWithSupportDate"/>
      <class name="organization.Create_Contact"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suitebatch -->
